:root {
  height: 100%;
  background: linear-gradient(45deg, #646464 0%, #3b3b3b 100%);
  font-family: 'Poppins', sans-serif;
  color: #aaaaaa;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}